<%= form_for(@restaurant, html: { class: 'nice'}) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'input-text' %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'large input-text'%>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating, :in => 1...4 %>
  </div>
  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'medium nice blue radius button' %>
  </div>
<% end %>
