<div class="container">
<p id="notice"><%= notice %></p>

<h1>View Restaurant Review</h1>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Location:</b>
  <%= @restaurant.location %>
</p>

<p>
  <b>Date:</b>
  <%= @restaurant.date %>
</p>

<p>
  <b>Rating:</b>
  <%= @restaurant.rating %>
</p>

<p>
  <b>Review:</b>
  <%= @restaurant.review %>
</p>

<p>
  <b>User:</b>
  <%= @restaurant.user.name %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
</div>
